
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @media (max-width: 768px) {
    font-size: 14px;
    font-family: poppins;
  }	
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
  }

  #container {
    width: 100%;
    max-width: 100%;
    margin: 6px auto 0px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    position: fixed;
    z-index: 99;
    padding: 24px;
    width: 90%;
    min-width: 200px;
    height: 80px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    border: 2px solid #2a2b37;
    border-radius: 25px;
    margin-bottom: 2px;
    max-width: 600px;
    background-color: rgba(42,43,56,.5);
    backdrop-filter: blur(104px);
    user-select: none;
  }

  li {   
    display: flex;
    max-width: auto;
    
  }

  li a{
    text-decoration: none;
    color: #ffffffd0;
    font-size: 20px;
  }

.name {
    margin-right: auto; 
    font-size: 19px;
    color: #fff;
    font-family: inter;
    font-weight: 700; 
}

.all {
    display: flex; 
    gap: 20px;
  }

  .inicio {
    display: inline-block;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    z-index: 1;
    user-select: none;
}

#frase {
    display: flex;
    font-size: 62px;
    flex-direction: column;
    color: #ffffff;
    font-family: poppins;
    width: 60%;
    margin-left: 40%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 50px;
    backdrop-filter: blur(104px);
}

#projects {
  display: inline-flex;
  text-decoration: none;
  font-size: 24px;
  margin-left: 40%;
  font-weight: 400;
  color: #ffffff;
  font-family:open-sans ;
  border-bottom: solid 1px #ffffff;
  margin-bottom: 220px;
}

h2{
    display: flex;
    font-size: 40px;
    color: #fffffff9;
}

#projectsid, #projectsul, #projectslink {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 20px;

  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

img {
    max-width:100%;
    width: auto;
    height: auto;
    margin-right: 10px;
    border: #000000 solid 1px;
    border-radius: 5px;
    margin-left: 14px;
    justify-content: center;
}

#projectImg {
    display: flex;
    max-width: 60%;
    max-height: 300px;
    justify-content: center;
    margin-top: 20px;
    border: solid 9px #ffffff; ;
    border-radius: 16px;
    margin-bottom: 10px
    
    
}

#projectsul {
    display: flex;
    width: 180px;
    height: 50px;
    gap: 16px;
    color: #fffffff9;
    font-family: inter;
    border: #ffffff solid 1px;
    margin-bottom: 60px;
}

#projectslink {
    display: flex;
    text-decoration: none;
    width: 180px;
    height: 50px;
    justify-content: center;
    font-size: 16px;
    color: #fffffff9;
    font-family: poppins;
    font-weight: 500;
}

#About {
    display: flex;
    padding: 24px 0;
    font-size: 36px;
    gap: 16px;
    color: #fffffff9;
    font-family: inter;
}

#Contato {
    display: flex;
    gap: 16px;
    padding: 24px 0;
    font-size: 36px;
    color: #fffffff9;
    font-family: inter;
}
p {
    font-size: 16px;
    color: #ffffff98;
    font-family: inter;
}
