@import url('clash-grotesk.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @media (max-width: 500px) {
    font-size: 14px;
    font-family: poppins;
  }	
}

:root {
  --font-grande: 'TT Hoves Pro Trial', sans-serif;
  --font-pequena: 'ClashGrotesk-Light', sans-serif;
  --color-black: #000;
  --color-gray1: #3d4143;
  --color-gray2: #9c9d9d;
  --color-white: #f6f6f6;
  --color-destaque1: #e7fc00;
  --color-destaque2: #728e6f;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
  }

  #container {
    width: 100%;
    max-width: 100%;
    margin: 6px auto 0px;
    margin-top: 40px;
    
  }

  .header {
    display: flex;
    position: fixed;
    z-index: 999;
    margin: 0 50%;
    padding: 16px;
    width: 95%;
    min-width: 200px;
    height: 70px;
    align-items: center;
    transform: translateX(-50%);
    top: 20px;
    border: 2px solid #2a2b37;
    border-radius: 25px;
    margin-bottom: 2px;
    max-width: 600px;
    background-color: rgba(42,43,56,.5);
    backdrop-filter: blur(104px);
    user-select: none;
  }

  li {   
    display: flex;
    max-width: auto;
    
  }

  li a{
    text-decoration: none;
    color: #ffffffd0;
    font-size: 20px;
  }

.name {
    margin-right: auto; 
    font-size: 19px;
    color: #fff;
    font-family: inter;
    font-weight: 700; 
}

.all {
    display: flex; 
    gap: 20px;
  }

  .inicio {
    display: inline-block;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    z-index: 1;
    user-select: none;
}

#frase {
    display: flex;
    font-size: 52px;
    color: #ffffff;
    font-family: poppins;
    line-height: 60px;
    
    margin: 0 auto 10px auto;
    width: auto;
    max-width: 600px;
}

#projects {
  display: inline-flex;
  text-decoration: none;
  font-size: 24px;
  margin-left: 27%;
  font-weight: 400;
  color: #ffffff;
  font-family:open-sans ;
  border-bottom: solid 1px #ffffff;
  margin-bottom: 220px;
}

.sobre {
  background-color: var(--color-black);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  z-index: 1;
  user-select: none;
  overflow: visible;
}

.container-sobre {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headline-sobre {
  height: 30%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.headline-scroll {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-50%);
  }
}

.headline-scroll span {
  font-family: var(--font-grande);
  font-size: 5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.headline-scroll .divisor {
  width: 20px;
  height: 20px;
  background-color: var(--color-gray2);
  border-radius: 50%;
  margin: 0 20px;
}

.headline-scroll .bold {
  font-weight: bold;
  color: var(--color-white);
}

.headline-scroll .light {
  font-weight: lighter;
  color: var(--color-gray2);
}

.conteudo-sobre {
  position: relative;
  top: 30%;
  width: 100%;
  height: 70%;
  display: flex;
}

.left-sobre {
  color: var(--color-white);
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 3rem;
}

.textos-sobre h1 {
  font-size: 3rem;
  font-family: var(--font-grande);
}

.textos-sobre p {
  font-size: 1.5rem;
  color: var(--color-gray2);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

.redes-sociais {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.redes-sociais a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-gray2);
  font-size: 1.5rem;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
}

.right-sobre {
  height: 90%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;;
}

.imagem-sobre {
  display: inline-flex;
  justify-content: right;
  align-items: center;
  
  
}

.complemento-sobre {
  width: auto;
  z-index: 0;
}

.complemento-sobre img {
  position: relative;
  left: 50px;
  top: 50px;
  width: 90%;
  z-index: 100;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.imagem-sobre img {
  width: 90%;
  z-index: 99;
}

h2{
    display: flex;
    font-size: 40px;
    color: #fffffff9;
}

#projectsid, #projectsul, #projectslink {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 20px;

  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

.imgcontainer {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 600px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 110px;
}

img {  
    max-width:100%;
    height: auto;
    margin-right: 10px;
    border: #000000 solid 1px;
    border-radius: 5px;
    margin-left: 14px;
    justify-content: center;
}

#projectImg {
    display: flex;
    max-width: 100%;
    max-height: 50%;
    justify-content: center;
    margin-top: 20px;
    border: solid 9px #ffffff; ;
    border-radius: 16px;
    margin-bottom: 10px    
}

#projectsul {
    display: flex;
    width: 180px;
    height: 50px;
    color: #fffffff9;
    font-family: inter;
    border: #ffffff solid 1px;
    margin-bottom: 60px;
    background-color: rgba(42,43,56,.5);
    backdrop-filter: blur(104px);
}

#projectslink {
    display: flex;
    text-decoration: none;
    width: 180px;
    height: 50px;
    justify-content: center;
    font-size: 16px;
    color: #fffffff9;
    font-family: poppins;
    font-weight: 500;
}

#About {
    display: flex;
    padding: 24px 0;
    font-size: 36px;
    gap: 16px;
    color: #fffffff9;
    font-family: inter;
}

#Contato {
    display: flex;
    gap: 16px;
    padding: 24px 0;
    font-size: 36px;
    color: #fffffff9;
    font-family: inter;
}
p {
    font-size: 16px;
    color: #ffffff98;
    font-family: inter;
}
