* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #000000;
  }
ul {
    display: flex; 
    padding: 24px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto ;
    border: 2px solid #2a2b37;
    border-radius: 25px;
    margin-bottom: 2px;
    max-width: 600px;
    background-color: rgba(42,43,56,.5);
    backdrop-filter: blur(104px);
}

  
  li {   
    display: flex;
    
  }

  li a{
    text-decoration: none;
    color: #ffffffd0;
    font-size: 20px;
  }

.name {
    margin-right: auto; 
    font-size: 19px;
    color: #fff;
    font-family: inter;
    font-weight: 700; 
}

.all {
    display: flex; 
    gap: 20px;
  }

  
#container {
  width: 100%;
  max-width: 600px;
  margin: 6px auto 0px;
  padding: 0 24px;
  margin-top: 40px;
}

#profile {
  display: inline;
  padding: 24px;
  border: solid;
  width: 500px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  padding: 5px;
}

#profile img {
    display: inline;
    width: 112px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #fffffff9;
    padding: 2px;  
}



#frase {
    display: flex;
    width: auto;
    font-size: 62px;
    color: #ffffff;
    font-family: poppins;
    height: auto;
    margin-bottom: 20px;
    line-height: 50px;
    backdrop-filter: blur(104px);
}

#projects {
    display: inline-flex;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family:open-sans ;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 40px;
}

#projectstitulo {
    display: flex;
    font-size: 40px;
    color: #fffffff9;
    font-family: poppins;
}

#About {
    display: flex;
    padding: 24px 0;
    font-size: 18px;
    color: #fffffff9;
    font-family: inter;
}

#Contato {
    display: flex;
    gap: 16px;
    padding: 24px 0;
    font-size: 24px;
    color: #fffffff9;
    font-family: inter;
}
p {
    font-size: 16px;
    color: #ffffff98;
    font-family: inter;
}
